@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

:root {
  --darkgrey: gray;
  --fuzzywhite: mintcream;
  --hijau: lightgreen;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #e2e8f0;
  background-color: var(--darkgrey);
  position: sticky;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--fuzzywhite);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--fuzzywhite);
}

.nav-link:hover {
  color: var(--hijau);
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: var(--hijau);
}

.photo {
  border-radius: 100%;
  margin-top: 10px;
  border: 1px solid #ddd;
  padding: 5px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content {
  font-size: 12pt;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  line-height: 25px;
  color: rgb(61, 60, 60);
}

.content li {
  list-style-type: upper-greek;
  margin-left: 20px;
  margin-right: 20px;
}

.footer {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  background-color: grey;
  color: var(--hijau);
  text-align: center;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 20pt;
  margin-right: 20px;
  color: rgb(61, 60, 60);
}

.prerequites {
  font-family: "Roboto", sans-serif;
  font-size: 1.7em;
  margin-top: 10px;
  margin-bottom: 10pt;
  margin-left: 20pt;
  margin-right: 10pt;
  color: rgb(61, 60, 60);
}

ol li {
  list-style-type: upper-greek;
  margin-left: 20px;
  margin-right: 20px;
}

.fontBold {
  font-weight: bold;
}

table {
  margin-left: 20px;
  margin-right: 20px;
  border-collapse: collapse;
}

table tr td {
  border: 1px solid rgb(112, 110, 110);
  padding: 7px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  color: rgb(61, 60, 60);
  border-width: 3px;
}

table tr td a {
  color: rgb(61, 60, 60);
}

table tr td a:hover {
  color: var(--hijau);
}

table ul li {
  list-style-type: upper-alpha;
  margin-left: 20px;
}

#download {
  color: blue;
}

.tutorial {
  padding: 7px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  color: rgb(61, 60, 60);
  border-width: 3px;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 20pt;
  margin-right: 20px;
  z-index: -1;
}

img {
  width: 60%;
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

 .lesson {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 20pt;
  margin-right: 20px;
  color: rgb(61, 60, 60);
}

@media only screen and (max-width: 700px) {
  img {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: var(--darkgrey);
    width: 100%;
    /* border-radius: 10px; */
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
